.markdown-image
  display: block
  margin: 20px auto
.link-button
  padding: 2px 5px
  border-radius: 5px
  background: #5f27cd
  color: white
  text-decoration: none
  display: inline-flex
  align-items: center
  .link-icon
    font-size: 0.8em
    margin-right: 5px