.link-button
  padding: 2px 5px
  border-radius: 5px
  background: #5f27cd
  color: white
  text-decoration: none
  display: inline-flex
  align-items: center
  .link-icon
    font-size: 0.8em
    margin-right: 5px

.markdown-checkbox
  -webkit-appearance: none
  border: 1px solid black
  border-radius: 2px
  position: relative
  width: 1.5em
  height: 1.5em
  outline: none
  bottom: -0.4em
  margin-right: 7px
  &:checked::before
    content: '✔️'
    position: absolute
    font-size: 1.3em
    left: 2px
    top: -2px

.inline-code
  padding: 2px 5px
  border-radius: 5px
  background: #2c3e50
  color: white
.cm-image-url span
  display: flex
  align-items: center

.cm-mark
  background: #feca57!important
span
  outline: none